<div class="container">
  <div class="row-10 offset-1">
    <div class="card text-center mx-auto", style="background-color:#fd7e14">
      <div class="card-header text-center ">
        <h2>Log in</h2>
      </div>
      <%= form_with model: @admin,url: admin_session_path(resource) do |f| %>
        <div class="card-body">
          <div class="row p-2">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"ml-5" %>
          </div>
          <div class="row p-2">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password",class:"ml-3" %>
          </div>
          <div class="row offset-4 p-2">
            <%= f.submit "Log in", class:"btn my-1 mx-2 btn-info btn-sm" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
