<div class="container">
  <div class="row-6 offset-1">
    <h2>いいねランキング</h2>
    <div class="table-responsive">
      <table class="table text-center">
        <thead class="table m-4">
          <tr>
            <th>Rank</th>
            <th></th>
            <th>Image</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          <% last_like = 0 %>
          <% j = 1 %>
          <% @post_like_ranks.each.with_index(1) do |rank,i| %>
            <% if i == 1 %>
              <% last_like = rank.favorites.count %>
            <% end %>
            <% if rank.favorites.count != last_like %>
              <% j = i %>
              <tr>
                <td>第<%= j %>位</td>
                <td>♥<%= rank.favorites.count %>いいね</td>
                <td><%=image_tag rank.get_image(100,100) %></td>
                <td><%= rank.title %></td>
                <% last_like = rank.favorites.count %>
              </tr>
            <% else %>
              <tr>
                <% last_like = rank.favorites.count %>
                <td>第<%= j %>位</td>
                <td>♥<%= rank.favorites.count %>いいね</td>
                <td><%=image_tag rank.get_image(100,100) %></td>
                <td><%= rank.title %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>