<div class="container">
  <div class="row">
    <div class="col-3">
      <h1>User</h1>
        <table>
          <tr>
          <td><%= image_tag @customer.get_profile_image(100,100)%></td>
          </tr>
          <tr>
          <td><%= @customer.name %></td>
          </tr>
          <tr>
          <td><%= link_to @customer.followings.count,user_followings_path(@customer)%></td>
          </tr>
           <tr>
          <td><%= link_to @customer.followers.count,user_followers_path(@customer)%></td>
          </tr>
          <tr>
            <td><%= link_to "edit",edit_user_path,class:'btn btn-danger'%></td>
          </tr>
          <tr>
            <td><%= link_to 'Like',user_likes_path,class:'btn btn-danger'%></td>
          </tr>
        </table>
      <div>
      <% if current_customer != @customer %>
        <% if current_customer.following?(@customer)%>
          <%= link_to 'フォロー外す',user_relationships_path(@customer),method: :delete,class:'btn btn-danger' %>
        <% else %>
          <%= link_to 'フォローする',user_relationships_path(@customer),method: :post,class:'btn btn-danger' %>
        <% end %>
      <% end %>
      </div>

          <h2>Hobby一覧</h2>
          <%= render 'customer/hobbies/hobby',hobbies: @hobbies %>
    </div>
    <div class="col-7 mx-auto">
      <table>
        <thead>
          <tr>
            <th>image</th>
            <th>title</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |pos| %>
          <tr>
            <td><%=image_tag pos.get_image(100,100)%></td>
            <td><%=pos.title%></td>
            <td><%=link_to "show",post_path(pos)%></td>
            <td><%=pos.post_comments.count%>コメント</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>