<div class="table-responsive">
  <table class="table">
    <thead class="table m-4">
      <tr>
        <th>image</th>
        <th>user</th>
        <th>title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% posts.each do |pos| %>
      <tr>
        <td><%=image_tag pos.get_image(100,100) %></td>
        <td>
          <%=link_to user_path(pos.customer_id) do %>
            <%= pos.customer.name %>
          <% end %>
        </td>
        <td>
          <%=link_to post_path(pos.id) do %>
            <%=pos.title%>
          <% end %>
        </td>
        <% if customer_signed_in?%>
          <td class="favorite" id="post_<%=pos.id%>">
            <%= render partial: "customer/favorites/favorite",locals: {post: pos} %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>