<div class="container">
  <div class="row-10 offset-1">
    <div class="card  mx-auto">
      <div class="card-header">
        <h1 class="text-center">GroupEdit</h1>
      </div>
      <div class="card-body">
        <%= form_with model:@group,url: group_path(@group),method: :patch do |f| %>
        <table class="mx-auto">
          <tr>
            <th><%= f.label "image"%></th>
            <td><%=f.file_field :image,accept:"image/*"%></td>
          </tr>
          <tr>
            <th><%= f.label "name"%></th>
            <td><%=f.text_field :name,size:"45"%></td>
          </tr>
          <tr>
            <th><%= f.label "introduction"%></th>
            <td><%=f.text_area :introduction,rows:'5',size:"45x5"%></td>
          </tr>
          <tr>
            <th></th>
            <td class="text-center"><%= f.submit "Edit",class:"btn btn-danger"%></td>
          </tr>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>

