<div class="container">
  <div class="row-6 offset-1">
    <h1><%=@group.name%></h1>
    <table class="table table-borderless mb-3 text-slign:center;">
      <tr>
        <th>image</th>
        <td><%= image_tag @group.get_image,size:'100x100' %></td>
      </tr>
      <tr>
        <th>introduction</th>
        <td><%= @group.introduction%></td>
      </tr>
      <tr>
        <th>member</th>
        <td>
          <% @group.customers.each do |customer| %>
            <%= link_to user_path(customer) do %>
              <li style="list-style: none;"><%= customer.name %></li>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th></th>
        <td class="mr-3">
          <%if @group.is_owned_by?(current_customer) %>
            <%= link_to 'Edit',edit_group_path(@group),class:"btn btn-info" %>
            <%= link_to 'Delete',group_path(@group),method: :delete,'data-confirm'=>"本当に削除しますか？",class:"btn btn-secondary" %>
            <%= link_to 'GroupChatを始める',group_chats_path(@group)%>
          <% elsif @group.includesCustomer?(current_customer) %>
            <%= link_to 'Withdraw',group_group_users_path(@group),method: :delete,class:'btn btn-danger' %>
            <%= link_to 'GroupChatを始める',group_chats_path(@group)%>
          <% else %>
            <%= link_to 'Join',group_group_users_path(@group),method: :post,class:'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>