<!DOCTYPE html>
<html>
  <head>
    <title>HobbyLife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="bg-color:#e6c4b8">
    <div style="bg-color:#fd7e14">
      <%= render "layouts/header" %>
    </div>
    <main>
      <p class="notice", style="background-color:#fd7e14"><%= notice %></p>
      <p class="alert", style="background-color:#fd7e14"><%= alert %></p>
    <%= yield %>
    </main>
  </body>
</html>
